<head>
  <title>GoodBoy</title>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=0"
  />
  <meta name="description" content="GoodBoy" />
  <link rel="stylesheet" href="style.css" />

  <script>
    // register ServiceWorker
    window.onload = () => {
      "use strict";

      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("./sw.js");
      }
    };
  </script>
</head>

<body>
  <!-- <div class="gameboy">
    <div class="left_container">
      <div class="directions">
        <div class="middle"></div>
        <div class="left" id="btn_left"></div>
        <div class="right" id="btn_right"></div>
        <div class="up" id="btn_up"></div>
        <div class="down" id="btn_down"></div>
      </div>
    </div> -->

    <!-- <div class="screen_container">
      <div id="screen"> -->
        <canvas id="goodboy"> </canvas>
      <!-- </div> -->
    <!-- </div> -->

    <!-- <div class="right_container">
      <div class="actions">
        <div class="b"><button id="btn-b"></button></div>
        <div class="a"><button id="btn-a"></button></div>
      </div>
    </div>
  </div> -->

  <script type="module">
    import init, { start } from "./goodboy.js";

    init().then(on_wasm_loaded).catch(console.error);

    function on_wasm_loaded() {
      console.info("loaded wasm, starting Good Boy...");
      start("goodboy");
      console.info("Good Boy started!");
      // document.getElementById("loading").remove();
    }
  </script>
</body>
<html></html>
