html {
  /* Remove touch delay: */
  touch-action: manipulation;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  box-sizing: border-box;
}

:root {
  --shadow-color: #2b367294;
  --btn-normal-color: #7a7270;
  --btn-action-color: #a4054a;
  --toolbar-thumb-width: 40px;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;

  width: min(600px, calc(100vw - 30px));
  height: 100vh;

  background: hsl(21, 16%, 93%);

  transition: transform ease 250ms;
  transform: translateX(calc(-100% - 20px));

  padding: 0.76rem;
  box-shadow: 10px 0 12px 5px #0001;

  overflow-y: auto;
}
.sidebar.is-open {
  transform: translateX(0%);
}

.sidebar-content {
  /* background-color: blue; */
  height: 100%;
  width: 100%;
  position: relative;
}
.sidebar-content .title {
  margin-left: calc(3rem + 10px);
  line-height: 3rem;
}
.sidebar-body {
  width: 100%;
  height: 100%;
  position: relative;

  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-body .insert-cartridge {
  cursor: pointer;
  padding: .7em;
  height: 5em;
  width: 90%;

  border: none;
  outline: none;

  background-color: var(--btn-action-color);

  font-size: .8em;
  font-weight: bold;
  color:#fff;

  border-radius: 6px;
  transition: box-shadow ease 50ms;
  box-shadow: inset 0 -5px 2px 1px hsl(334, 80%, 24%);
  border: 2px solid hsl(334, 80%, 24%);
  border-top: 2px solid var(--btn-action-color);
}
.sidebar-body .insert-cartridge:active {
  box-shadow: inset 0 -3px 2px 0px hsl(334, 80%, 24%);
}
.sidebar-body .insert-cartridge:hover {
  border: 2px solid hsl(334, 80%, 48%);
}

.sidebar-controls {
  width: 90%;
}
table {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  /* border-collapse: collapse; */
  border: 2px solid hsl(334, 80%, 48%);
  border-radius: 10px;
  /* background-color: pink; */
}
table td, table th {
  padding: .65rem;
}

table tr:nth-child(even) {
  background-color: #d4cdc8;
}

.sidebar-thumb {
  position: absolute;
  z-index: 10000;

  cursor: pointer;

  background-color: var(--btn-action-color);

  width: 3rem;
  height: 3rem;
  border-radius: 50%;

  left: 0.76rem;
  top: 0.76rem;

  box-shadow: inset 0 -1px 2px 1px hsl(334, 80%, 24%);
  border: 2px solid hsl(334, 80%, 24%);
  border-top: 2px solid var(--btn-action-color);
}
.sidebar-thumb:hover {
  border: 2px solid hsl(334, 80%, 48%);
}

.sidebar-thumb .sidebar-thumb-bar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
  height: 4px;
  background-color: white;
  border-radius: 1px;
}
.sidebar-thumb .sidebar-thumb-bar::before, .sidebar-thumb .sidebar-thumb-bar::after {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, var(--self-y-position));

  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 1px;
}

.sidebar-thumb .sidebar-thumb-bar::before  {
  --self-y-position: 100%;
}

.sidebar-thumb .sidebar-thumb-bar::after  {
  --self-y-position: -200%;
}

#rfd-overlay {
  z-index: 100000 !important;
}
#rfd-card {
  background: #fff !important;
  border-radius: 0 !important;
}
#rfd-button {
  cursor: pointer;
  padding: .2em !important;
  height: 3em !important;
  /* width: 90% !important; */

  border: none !important;
  outline: none !important;

  background-color: var(--btn-action-color) !important;

  font-size: .8em !important;
  font-weight: bold !important;
  color:#fff !important;

  border-radius: 6px !important;
  transition: box-shadow ease 50ms !important;
  box-shadow: inset 0 -5px 2px 1px hsl(334, 80%, 24%) !important;
  border: 2px solid var(--btn-action-color) !important;
  border-bottom: 2px solid hsl(334, 80%, 24%) !important;
}
#rfd-button:active {
  box-shadow: inset 0 -3px 2px 0px hsl(334, 80%, 24%) !important;
}

#rfd-button:hover {
  border: 2px solid hsl(334, 80%, 48%) !important;
}

.gameboy {
  position: relative;

  height: 100vh;
  width: 100%;

  background: #d4cdc8;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.gameboy::before {
  content: "";

  width: 100%;
  height: 5px;

  position: absolute;
  top: 40px;
  left: 0;

  border-top: 2px solid hsl(26, 21%, 95%);
  border-bottom: 3px solid #85766b;
  background-color: #dbd2cd;
}
.gameboy::after {
  content: "";

  width: 90%;
  height: 42px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border: 10px solid #dbd2cd;
  z-index: 100;
  border-top: 0;
  border-bottom: 0;
}

#screen-container {
  width: calc(3 * 160px);
  height: calc(3 * 144px);
  margin-top: 20px;

  display: grid;
  place-items: center;
  position: relative;
}

#screen {
  border-radius: 8px;
  overflow: hidden;
}

canvas {
  max-width: 100% !important;
  max-height: 100% !important;

  width: 100%;
  height: 100%;

  position: relative !important;

  /* background-color: #000; */
  /* border: 2px solid #54631b; */
}

.left-container {
  width: 100%;
  height: 100%;

  /* background-color: red; */

  display: grid;
  place-items: center;
}

.directions {
  position: relative;

  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.directions * {
  background-color: #232429;
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

.directions .middle {
  grid-column: 2;
  grid-row: 2;
  position: relative;
  border-radius: 0;
}
.directions .middle::before {
  content: "";
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 42px;
  height: 42px;
  border-radius: 50%;

  background-color: #1d1e23;
}

.directions .left {
  grid-column: 1;
  grid-row: 2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: -1px 2px 5px var(--shadow-color);
}
.directions .right {
  grid-column: 3;
  grid-row: 2;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: 0px 2px 5px var(--shadow-color);
}
.directions .up {
  grid-column: 2;
  grid-row: 1;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: -1px 0px 5px var(--shadow-color);
}
.directions .down {
  grid-column: 2;
  grid-row: 3;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: -1px 0px 5px var(--shadow-color);
}

.right-container {
  width: 100%;
  height: 100%;

  /* background-color: blue; */

  display: grid;
  place-items: center;
}

.actions {
  position: relative;

  display: flex;
  place-items: center;

  transform: rotate(-30deg);
}
.actions * {
  position: relative;
}
.actions * button {
  position: relative;

  width: 80px;
  height: 80px;

  border-radius: 50%;

  background-color: var(--btn-action-color);
  border: 0;

  box-shadow: -2px 2px 5px var(--shadow-color);
  outline: none;

  margin: 15px;
}
.actions * button.selected {
  transform: scale(0.98);
}
.actions .b::before {
  content: "B";
  color: #2c3264;

  font-weight: bold;

  position: absolute;
  top: 105%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.actions .a::before {
  content: "A";
  color: #2c3264;

  font-weight: bold;

  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-select {
  position: absolute;
  width: 140px;
  height: 100px;
  /* background-color: blue; */
  bottom: -25%;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.start-select * {
  position: relative;
}

.gameboy button.clicked {
  transform: rotate(65deg) scale(98%);
}

.start-select button {
  border-radius: 50%;
  width: 20px;
  height: 50px;
  border: none;
  outline: none;
  transform: rotate(65deg);
  background-color: var(--btn-normal-color);
  box-shadow: 2px 2px 5px var(--shadow-color);
}
.start-select * button.selected {
  transform: scale(0.98) rotate(65deg);
}

.start-select .start::before {
  content: "Start";
  color: #2c3264;
  font-size: 13px;

  font-weight: bold;

  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(-28deg);
}
.start-select .select::before {
  content: "Select";
  color: #2c3264;
  font-size: 13px;

  font-weight: bold;

  position: absolute;
  top: 75%;
  left: 80%;
  transform: translate(-50%, -50%) rotate(-28deg);
}

@media (max-width: 720px) {
  .gameboy {
    padding-top: 60px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    place-items: center;
  }
  #screen-container {
    width: calc(2 * 160px);
    height: calc(2 * 144px);

    grid-row: 1;
    grid-column: 1 / span 2;
    position: initial;
  }
  .left-container {
    display: flex;
    flex-direction: column;
  }
  .right-container {
    display: flex;
    flex-direction: column;
  }

  .start-select {
    position: absolute;
    left: 50%;
    bottom: 0;
    /* background: #000; */
    transform: translate(-50%, -50%);
  }

  .directions * {
    width: 45px;
    height: 45px;
  }

  .directions .middle::before {
    width: 37px;
    height: 37px;
  }

  .actions * button {
    width: 60px;
    height: 60px;
    margin: 10px;
  }
}
